
$primary:  #f9cd16;
$secondary: #3C3C3B;
$error: #ff5d48;
$white: #ffffff;
$black: #000000;

// lighten
$primary-lighten-1: lighten($primary, 12%);
$secondary-lighten-1: lighten($secondary, 12%);
$error-lighten-1: lighten($error, 12%);

$primary-lighten-2: lighten($primary, 24%);
$secondary-lighten-2: lighten($secondary, 24%);
$error-lighten-2: lighten($error, 24%);

$primary-lighten-3: lighten($primary, 36%);
$secondary-lighten-3: lighten($secondary, 36%);
$error-lighten-3: lighten($error, 36%);

$primary-lighten-4: lighten($primary, 48%);
$secondary-lighten-4: lighten($secondary, 48%);
$error-lighten-4: lighten($error, 48%);

$primary-lighten-5: lighten($primary, 60%);
$secondary-lighten-5: lighten($secondary, 60%);
$error-lighten-5: lighten($error, 60%);

$primary-lighten-6: lighten($primary, 72%);
$secondary-lighten-6: lighten($secondary, 72%);
$error-lighten-6: lighten($error, 72%);

// darken
$primary-darken-1: darken($primary, 12%);
$secondary-darken-1: darken($secondary, 12%);
$error-darken-1: darken($error, 12%);

$primary-darken-2: darken($primary, 24%);
$secondary-darken-2: darken($secondary, 24%);
$error-darken-2: darken($error, 24%);

$primary-darken-3: darken($primary, 36%);
$secondary-darken-3: darken($secondary, 36%);
$error-darken-3: darken($error, 36%);

$primary-darken-4: darken($primary, 48%);
$secondary-darken-4: darken($secondary, 48%);
$error-darken-4: darken($error, 48%);

$primary-darken-5: darken($primary, 60%);
$secondary-darken-5: darken($secondary, 60%);
$error-darken-5: darken($error, 60%);

$primary-darken-6: darken($primary, 72%);
$secondary-darken-6: darken($secondary, 72%);
$error-darken-6: darken($error, 72%);




$colors: (
    'primary': $primary,
    'secondary': $secondary,
    'error': $error,
    'white': $white,
    'black': $black,
    
    // lighten
    'primary-lighten-1': $primary-lighten-1, 
    'secondary-lighten-1': $secondary-lighten-1, 
    'error-lighten-1': $error-lighten-1, 
    
    'primary-lighten-2': $primary-lighten-2, 
    'secondary-lighten-2': $secondary-lighten-2, 
    'error-lighten-2': $error-lighten-2, 
    
    'primary-lighten-3': $primary-lighten-3, 
    'secondary-lighten-3': $secondary-lighten-3, 
    'error-lighten-3': $error-lighten-3, 
    
    'primary-lighten-4': $primary-lighten-4, 
    'secondary-lighten-4': $secondary-lighten-4, 
    'error-lighten-4': $error-lighten-4, 
    
    'primary-lighten-5': $primary-lighten-5, 
    'secondary-lighten-5': $secondary-lighten-5, 
    'error-lighten-5': $error-lighten-5, 
    
    'primary-lighten-6': $primary-lighten-6, 
    'secondary-lighten-6': $secondary-lighten-6, 
    'error-lighten-6': $error-lighten-6, 
    
    // darken
    'primary-darken-1': $primary-darken-1, 
    'secondary-darken-1': $secondary-darken-1, 
    'error-darken-1': $error-darken-1, 
    
    'primary-darken-2': $primary-darken-2, 
    'secondary-darken-2': $secondary-darken-2, 
    'error-darken-2': $error-darken-2, 
    
    'primary-darken-3': $primary-darken-3, 
    'secondary-darken-3': $secondary-darken-3, 
    'error-darken-3': $error-darken-3, 
    
    'primary-darken-4': $primary-darken-4, 
    'secondary-darken-4': $secondary-darken-4, 
    'error-darken-4': $error-darken-4, 
    
    'primary-darken-5': $primary-darken-5, 
    'secondary-darken-5': $secondary-darken-5, 
    'error-darken-5': $error-darken-5, 
    
    'primary-darken-6': $primary-darken-6, 
    'secondary-darken-6': $secondary-darken-6, 
    'error-darken-6': $error-darken-6, 
);
