// margin All responsivo

@mixin type($types...) {
    @each $type in $types {
        @content($type);
    }
}


@include type(ma, my, mx, ml, mr, mt, mb) using ($type) {
    @for $i from 1 through 24 {
        
        $value: calc(#{$i * 1.5}px + #{$i * .15}vw) !important;
        $mt: margin-top;
        $mb: margin-bottom;
        $ml: margin-left;
        $mr: margin-right;
        
        
        .#{$type}-#{$i}{
            @if $type == ma or $type == mt or $type == my {#{$mt}: $value;}
            @if $type == ma or $type == mb or $type == my {#{$mb}: $value;}
            @if $type == ma or $type == ml or $type == mx{#{$ml}: $value;}
            @if $type == ma or $type == mr or $type == mx{#{$mr}: $value;}
        }
        
        .#{$type}-xs-#{$i}{
            @media (max-width: 420px){ 
                @if $type == ma or $type == mt or $type == my {#{$mt}: $value;}
                @if $type == ma or $type == mb or $type == my {#{$mb}: $value;}
                @if $type == ma or $type == ml or $type == mx{#{$ml}: $value;}
                @if $type == ma or $type == mr or $type == mx{#{$mr}: $value;}
            } 
        }
        .#{$type}-sm-#{$i}{
            @media (max-width: 800px){ 
                @if $type == ma or $type == mt or $type == my {#{$mt}: $value;}
                @if $type == ma or $type == mb or $type == my {#{$mb}: $value;}
                @if $type == ma or $type == ml or $type == mx{#{$ml}: $value;}
                @if $type == ma or $type == mr or $type == mx{#{$mr}: $value;}
            } 
        }
        .#{$type}-md-#{$i}{
            @media (max-width: 1025px){ 
                @if $type == ma or $type == mt or $type == my {#{$mt}: $value;}
                @if $type == ma or $type == mb or $type == my {#{$mb}: $value;}
                @if $type == ma or $type == ml or $type == mx{#{$ml}: $value;}
                @if $type == ma or $type == mr or $type == mx{#{$mr}: $value;}
            } 
        }
        .#{$type}-lg-#{$i}{
            @media (max-width: 1601px){ 
                @if $type == ma or $type == mt or $type == my {#{$mt}: $value;}
                @if $type == ma or $type == mb or $type == my {#{$mb}: $value;}
                @if $type == ma or $type == ml or $type == mx{#{$ml}: $value;}
                @if $type == ma or $type == mr or $type == mx{#{$mr}: $value;}
            } 
        }
        .#{$type}-xl-#{$i}{
            @media (min-width: 1601px){ 
                @if $type == ma or $type == mt or $type == my {#{$mt}: $value;}
                @if $type == ma or $type == mb or $type == my {#{$mb}: $value;}
                @if $type == ma or $type == ml or $type == mx{#{$ml}: $value;}
                @if $type == ma or $type == mr or $type == mx{#{$mr}: $value;}
            } 
        }
        
    }
}