// margin All responsivo

$mt: margin-top;
$mb: margin-bottom;
$ml: margin-left;
$mr: margin-right;

@mixin type($media, $types...) {
    @each $type in $typesList {
        @for $i from 0 through 24 {
            
            $value: calc(#{$i * 1.5}px + #{$i * .15}vw) !important;

            .#{$type}-#{$media}-#{$i}{
                @if $type == ma or $type == mt or $type == my {#{$mt}: $value;}
                @if $type == ma or $type == mb or $type == my {#{$mb}: $value;}
                @if $type == ma or $type == ml or $type == mx{#{$ml}: $value;}
                @if $type == ma or $type == mr or $type == mx{#{$mr}: $value;}
            }
        }
    }
}

$typesList: ma, my, mx, ml, mr, mt, mb;


@mixin geral($types...) {
    @each $type in $typesList {
        
        @for $i from 0 through 24 {
            
            $value: calc(#{$i * 1.5}px + #{$i * .15}vw) !important;
            
            .#{$type}-#{$i}{
                @if $type == ma or $type == mt or $type == my {#{$mt}: $value;}
                @if $type == ma or $type == mb or $type == my {#{$mb}: $value;}
                @if $type == ma or $type == ml or $type == mx{#{$ml}: $value;}
                @if $type == ma or $type == mr or $type == mx{#{$mr}: $value;}
            }
        }
    }
}

@include geral($typesList...);

@media (max-width: 1025px){ 
    @include type(md, $typesList...)
}

@media (max-width: 800px){ 
    @include type(sm, $typesList...)
} 

@media (max-width: 420px){ 
    @include type(xs, $typesList...)
} 

@media (min-width: 1601px){ 
    @include type(xl, $typesList...)
}

@media (max-width: 1601px){ 
    @include type(lg, $typesList...)
}