@import 'all';
@import '_scroll';
@import '_color_set';


@use 'scroll' with (
    $primary:  $primary
);

@include colors(
    $primary:  $primary,
    $secondary: $secondary,
    $error: $error,
    // ...
)
